.usuario {
    background-color: #2b3566;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.2rem;
    position: relative;
    border-radius: 8px;
}

.usuario img {
    width: 180px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
}

.infoLeft {
    padding: .6rem 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.infoLeft  h2 {
    margin-bottom: .8rem;
}

.infoRight {
    margin: 1rem 0;
    display: flex;
    padding: .7rem;
    justify-content: space-around;
    width: 250px;
}
.infoRight p {
    margin: .6rem 0;
    font-size: 1.1rem;
}

.navLink {
    position: absolute;
    bottom: 20px;
    right: 60px;
    background-color: blueviolet;
    color: #fff;
    padding: .6rem;
    border-radius: 4px;
    cursor: pointer;
}

.divide {
    width: 90%;
    margin: 0 auto;
    height: 1px;
    background-color: white;
    color: red;
    display: inline-block;
    text-align: center;
}

.error {
    padding: 1rem;
    background-color: crimson;
    color: #fff;
    border-radius: 8px;
    margin: 2rem;
}
.error p {
    font-size: 1.5rem;
}